<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
        <title>Ez Takeout</title>
        <link rel="icon" href="./../images/favico.ico">
        <script src="./../js/base.js"></script>
        <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
        <link rel="stylesheet" href="../styles/vant.min.css"/>
        <link rel="stylesheet" href="./../styles/login.css" />
      </head>
    <body>
        <div id="login" v-loading="loading">
            <div class="divHead">Login</div>
            <div class="divContainer">
                <el-input placeholder=" Please enter phone number" v-model="form.phone"  maxlength='20' @input="formatPhoneNumber"/></el-input>
                <div class="divSplit"></div>
                <el-input placeholder=" Please enter verification code" v-model="form.code"  maxlength='20'/></el-input>
                <span class="enabled" v-if="!disableVerification" @click="getCode">Get Verification Code</span>
                <span class="disabled" v-else>Resend ({{ countdown }}s)</span>
            </div>
            <div class="divMsg" v-if="msgFlag">Invalid phone number，please try again</div>
            <el-button type="primary" :class="{btnSubmit:1===1,btnNoPhone:!form.phone,btnPhone:form.phone}" @click="btnLogin">Login</el-button>
        </div>
        <script src="../../backend/plugins/vue/vue.js"></script>
        <script src="../../backend/plugins/element-ui/index.js"></script>
        <script src="./../js/vant.min.js"></script>
        <script src="../../backend/plugins/axios/axios.min.js"></script>
        <script src="./../js/request.js"></script>
        <script src="./../api/login.js"></script>
    </body>
    <script>
        new Vue({
            el:"#login",
            data(){
                return {
                    form:{
                        phone:'',
                        code:''
                    },
                    msgFlag:false,
                    loading:false,
                    disableVerification: false,
                    countdown: 59
                }
            },
            computed:{},
            created(){},
            mounted(){},
            methods:{
                getCode(){
                    this.disableVerification = true;
                    this.startCountdown();
                    this.form.code = ''
                    const regex = /(^\([2-9]\d{2}\)\s\d{3}-\d{4}$)/;
                    if (regex.test(this.form.phone)) {
                        this.msgFlag = false;
                        sendMsgApi({phone: this.form.phone});
                    }else{
                        this.msgFlag = true
                    }
                },
                async btnLogin(){
                    if(this.form.phone && this.form.code){
                        this.loading = true
                        const res = await loginApi({phone:this.form.phone, code:this.form.code})
                        this.loading = false
                        if(res.code === 1){
                            sessionStorage.setItem("userPhone",this.form.phone)
                            window.requestAnimationFrame(()=>{
                                window.location.href= '/front/index.html'
                            })                           
                        }else{
                            this.$notify({ type:'warning', message:res.msg});
                        }
                    }else{
                        this.$notify({ type:'warning', message:'Please enter phone number'});
                    }
                },
                formatPhoneNumber() {
                    // Remove any non-digit characters from the input value
                    const digitsOnly = this.form.phone.replace(/\D/g, '');

                    // Apply the phone number format (###-###-####)
                    let formatted = '';
                    for (let i = 0; i < digitsOnly.length; i++) {
                        if (i === 0) {
                            formatted += '(';
                        }
                        if (i === 3) {
                            formatted += ') ';
                        }
                        if (i === 6) {
                            formatted += '-';
                        }
                        formatted += digitsOnly.charAt(i);
                    }

                    this.form.phone = formatted;
                },
                startCountdown() {
                    var timer = setInterval(() => {
                        this.countdown--;

                        if (this.countdown === 0) {
                            // Reset the countdown and enable the button
                            this.countdown = 59;
                            this.disableButton = false;

                            // Clear the countdown timer
                            clearInterval(timer);
                        }
                    }, 1000);
                }
            }
        })
    </script>
</html>